@font-face
{
    font-family: "title";
    src: url('/assets/font/webfont-1.woff2') format('woff2'),
        url('/assets/font/webfont-1.woff') format('woff'),
        url('/assets/font/webfont-1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "text";
    src: url('/assets/font/webfont-2.woff2') format('woff2'),
        url('/assets/font/webfont-2.woff') format('woff'),
        url('/assets/font/webfont-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "text";
    src: url('/assets/font/webfont-4.woff2') format('woff2'),
        url('/assets/font/webfont-4.woff') format('woff'),
        url('/assets/font/webfont-4.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "body";
    src: url('/assets/font/webfont-3.woff2') format('woff2'),
        url('/assets/font/webfont-3.woff') format('woff'),
        url('/assets/font/webfont-3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



html
{
/*	background: #F0F0F0;*/
	font-size: 12px;
	line-height: 1.4;
	color: #000000;
	font-family: "text", monospace;
	letter-spacing: 0.04rem;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;
	-ms-font-feature-settings:"kern" 1;
	-o-font-feature-settings:"kern" 1;
	-webkit-font-feature-settings:"kern" 1;
	font-feature-settings:"kern" 1;
	-webkit-font-kerning: normal;
	        font-kerning: normal;   
}

body
{
	background: #F0F0F0;
	margin: 0;
}

::selection 
{
    background: #ff0000;
    color: #000000;
}

::-moz-selection
{
	background: #ff0000;
    color: #000000;
}

#background
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -99;
	background: #F0F0F0;
}

header
{
	margin: 0;
	position: relative;
	margin-bottom: 80px;
}

nav
{
	background: #F0F0F0;
	border-right: 1px solid #000000;
	width: 400px;
	padding: 40px;
	height: 100vh;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	overflow: scroll;
}

nav a
{
	text-decoration: none;
	color: #000000;
	font-size: 3.4rem;
	text-transform: capitalize;
	line-height: 1.75;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	display: block;
	white-space: nowrap;
	letter-spacing: 0;
	font-family: "title", serif;
	-webkit-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease; 
}

nav ul:hover > li > a
{
	opacity: 0.4;
}

nav ul > li > a:hover
{
	opacity: 1;
}

nav ul:focus > li > a
{
	opacity: 0.4;
}

nav ul > li > a:focus
{
	opacity: 1;
}
nav ul:focus-within > li > a
{
	opacity: 0.4;
}

nav ul > li > a:focus-within
{
	opacity: 1;
}




nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 65px;
	opacity: 0.9;
	-webkit-transition: all 0.25s ease-out 0.15s;
	-o-transition: all 0.25s ease-out 0.15s;
	transition: all 0.25s ease-out 0.15s;
}

.wordmark
{
	display: block;
	text-transform: uppercase;
	position: absolute;
	left: 65px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	top: 21px;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.wordmark:first-of-type
{
	top: 5px;
}

#dark-mode-btn
{
	border: none;
	outline: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	background: transparent;
	border-radius: 0;
	padding: 0;
	margin: 30px 0 0 65px;
	white-space: nowrap;
	font-size: 1.3rem;
	font-family: "title", serif;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-transition: all 0.25s ease-out 0.15s;
	-o-transition: all 0.25s ease-out 0.15s;
	transition: all 0.25s ease-out 0.15s;
}

.strike {
	text-decoration: line-through;
}


nav.closed
{
	width: 120px;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

nav.closed ul, nav.closed #dark-mode-btn
{
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

nav.closed .wordmark
{
	opacity: 0;
	pointer-events: none;
	-webkit-transform: translateX(-30px);
	    -ms-transform: translateX(-30px);
	        transform: translateX(-30px);
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

nav.closed .wordmark:first-of-type
{
	-webkit-transform: translateX(-20px);
	    -ms-transform: translateX(-20px);
	        transform: translateX(-20px);
}

#menu-btn
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 120px;
	height: 190px;
}

#menu-text
{
	text-transform: uppercase;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	display: block;
	line-height: 40px;
}

#menu-stack div
{
	-webkit-transition: -webkit-transform 0.4s ease;
	transition: -webkit-transform 0.4s ease;
	-o-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
	transition: transform 0.4s ease, -webkit-transform 0.4s ease;
	height: 1px;
	background: #000000;
	-webkit-transform: rotate(25deg) translateY(-3px) translateX(-8px) scaleX(0.8);
	    -ms-transform: rotate(25deg) translateY(-3px) translateX(-8px) scaleX(0.8);
	        transform: rotate(25deg) translateY(-3px) translateX(-8px) scaleX(0.8);
	width: 30px;
	margin-top: 10px;
}

#menu-btn #top-menu
{
	-webkit-transform: rotate(-25deg) translateY(3px) translateX(-8px) scaleX(0.8);
	    -ms-transform: rotate(-25deg) translateY(3px) translateX(-8px) scaleX(0.8);
	        transform: rotate(-25deg) translateY(3px) translateX(-8px) scaleX(0.8);
	margin-top: 0;
}

#menu-btn #mid-menu
{
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
}

nav.closed #menu-btn #mid-menu, nav.closed #menu-btn #bot-menu, nav.closed #menu-btn #top-menu
{
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
}

#menu-stack
{
	-webkit-transition: -webkit-transform 0.4s ease;
	transition: -webkit-transform 0.4s ease;
	-o-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
	transition: transform 0.4s ease, -webkit-transform 0.4s ease;
	position: absolute;
	bottom: 45px;
	left: 45px;
}

nav.closed #menu-stack 
{
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

#logo
{
	width: 40px;
	line-height: 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}



@supports(backdrop-filter: invert(1) hue-rotate(180deg)) or (-webkit-backdrop-filter: invert(1) hue-rotate(180deg))
{
	body.dark-mode
	{
		background: #0f0f0f;
	}
	
	#dark-mode
	{
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: 9999;
		pointer-events: none;
		-webkit-backdrop-filter: invert(1) hue-rotate(180deg);
				backdrop-filter: invert(1) hue-rotate(180deg);
		-webkit-transition: -webkit-transform 0.6s ease;
		transition: -webkit-transform 0.6s ease;
		-o-transition: transform 0.6s ease;
		transition: transform 0.6s ease;
		transition: transform 0.6s ease, -webkit-transform 0.6s ease;
		-webkit-transform-origin: left;
			-ms-transform-origin: left;
				transform-origin: left;
		-webkit-transform: scaleX(0);
			-ms-transform: scaleX(0);
				transform: scaleX(0);
	}
}

img
{
	-webkit-transition: -webkit-filter 0.6s ease;
	transition: -webkit-filter 0.6s ease;
	-o-transition: filter 0.6s ease;
	transition: filter 0.6s ease;
	transition: filter 0.6s ease, -webkit-filter 0.6s ease;
}

.blogpost {
	cursor: pointer;
	max-width: 700px;
	height: 140px;
	overflow: hidden;
	text-align: left;
	background: #e1e1e1;
	padding: 20px;
	border-radius: 30px;
	margin:25px auto;
	transition: all 0.15s linear;
}

.blogpost:hover, .blogpost:focus {
	transform: translateY(-5px);
	outline: none
}

.blogpost p {
	height: 6.2rem;
	overflow: hidden;
	font-family: "body";
	font-size: 1.1rem;
	text-transform: none;
}

.date{
	opacity: 0.7;
}

.blog-post p {
	text-transform: none;
	font-family: "body";
}
@supports(backdrop-filter: invert(1) hue-rotate(180deg)) or (-webkit-backdrop-filter: invert(1) hue-rotate(180deg))
{
	.dark-mode img
	{
		-webkit-filter: invert(1) hue-rotate(180deg);
				filter: invert(1) hue-rotate(180deg);
	}

	.dark-mode .allow-dark img{
		-webkit-filter: invert(0);
				filter: invert(0);
		
	}

	.dark-mode #logo
	{
		-webkit-filter: none;
				filter: none;
	}

	.dark-mode #dark-mode
	{
		-webkit-transform: scaleX(1);
			-ms-transform: scaleX(1);
				transform: scaleX(1);
	}
}

section
{
	max-width: 700px;
	margin: 150px auto;
	position: relative;
	-webkit-transform: translateX(60px);
	    -ms-transform: translateX(60px);
	        transform: translateX(60px);
}

h6
{
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1rem;
	margin: 0;
}

.circle
{
	background: #F0F0F0;
	border-radius: 100%;
	text-align: center;
	width: 75px;
	line-height: 75px;
	border: 1px solid #000000;
	margin-top: -5px;
	float: left;
	margin-left: -webkit-calc(45% - 95px);
	margin-left: calc(45% - 95px);
}

h1, h3
{
	font-size: 3.85rem;
	line-height: 1.6;
	letter-spacing: 0;
	font-family: "title", serif;
	font-weight: normal;
	margin: 0;
}

h3
{
	font-size: 1.7rem;
	line-height: 1.8;
	text-transform: uppercase;
}

.indent-01
{
	margin-left: 25%;
}

.indent-02
{
	margin-left: 45%;
	margin-top: 21px;
}


.indent-02 a{
	color: #000;
	text-decoration: none;
}


#img-01
{
	width: 50%;
	opacity: 0.6;
	position: absolute;
	z-index: -99;
	left: 0;
	top: 4rem;
	border-radius: 2px;
}

#arrow-down-01
{
	position: absolute;
	bottom: 25%;
	display: block;
	left: -webkit-calc(50% + 10px);
	left: calc(50% + 10px);
}

#sect-02
{
	margin-top: 320px;
}

#hero-section
{
	text-shadow: 0 0 20px #f0f0f0;
	min-height: 70vh;
}

#posts-section
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 1000px;
}

.post-section h3
{
	font-size: 1.9rem;
	text-align: center;
}

#notfound {
	text-align: center;
	padding: 12rem;
}

.list-posts li
{
	margin-bottom: 1em;
}

article
{
	text-align: center;
	width: calc(100% - 140px);
	max-width: 740px;
	padding: 20px;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 80px;
	box-sizing: border-box;
	-webkit-transform: translateX(60px);
	    -ms-transform: translateX(60px);
	        transform: translateX(60px);
}

article p
{
	text-transform: uppercase;
}

article h1
{
	line-height: 1.2;
	margin-bottom: 2rem;
}

article .text {
	text-align: left;
	/* font-family: body; */
}

.footnotes {
	text-align: left;
	padding-top: 3rem;
	
}
.footnotes::before {
	display: block;
	content: "";
    border-top: 1.85px solid black;
    width: 10rem;
}

blockquote {
	border-left: 1.95px solid #ccc;
	margin: 0 0.5rem;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
	color: #5e5e5e;
	text-align: left;
	vertical-align: baseline;
	margin-bottom: 1.75rem;
  }
  blockquote::before {
	color: #ccc;
	content: "❝";
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
  }
  blockquote p {
	display: inline;
	padding-left: 1.5rem;
  }

.ideas {
	font-size: 1.3rem;
}

.ideas h4
{
	margin-top: 3rem
}

.ideas h3
{
	margin-top: 2rem;
	text-transform: unset;
}

.ideas h2 {
	margin-top: 3rem;
}

.ideas p 
{
	text-transform: unset;
	font-size: 1.1rem;
        line-height: 1.8;
        letter-spacing: 0;
        margin-bottom: 2.4rem;
}

.ideas ul {
	text-align: left;
	font-size: 1.2rem;
}

#article-footer
{
	text-align: center;
	width: calc(100% - 140px);
	width: -webkit-calc(100% - 140px);
	height: 50px;
	padding-top: 20px;
	margin: auto;
	margin-bottom: 2em;
	-webkit-transform: translateX(60px);
	-ms-transform: translateX(60px);
	transform: translateX(60px);
}

#idea-container
{
	min-height: calc(75vh - 15px);
	min-height: -webkit-calc(75vh - 15px);
}

#rss h3 
{
	text-transform: unset;	
}

#rss p 
{
	text-transform: unset;
	font-size: 1.1rem;
	line-height: 1.8;
    letter-spacing: 0;
}

#rss ul 
{
	font-size: 1.2rem;
	list-style: none;
	text-align: center;
	padding-left: 0;

}

.letter
{
	font-family: body;
	text-align: left;
}

.image-grid-2
{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
	grid-column-gap: 1rem;
}

.image-grid-3
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(175px,1fr));
	grid-column-gap: 1rem;
}


.grid-image
{
	margin: 0;
}

/* .blogimage img { */
	/* width: 90%; */
/* } */

.blogimage figcaption {
	margin-top: 0.3rem;
	font-size: 0.9rem;
	font-style: italic;
}

.podcast-player 
{
	background: #e1e1e1;
	padding: 20px;
	border-radius: 30px;
	display: grid;
	grid-template-columns: 140px auto;
	grid-template-rows: 100px 40px;
	grid-column-gap: 20px;
	max-width: 700px;
	text-align: left;
	margin-top: 80px;
}

article .podcast-player
{
	margin-top: 10px;
}

.podcast-player img 
{
	max-width: 100%;
	border-radius: 10px;
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
	
}

.podcast-player audio 
{
	display: block;
	width: 100%;
	height: 100%;
}

.podcast-player h2 
{
	font-size: 2.5rem;
	line-height: 1.2;
	margin-bottom: 1rem;
	margin-top: 10px;
	font-family: title,serif;
	font-weight: 400;
}

a 
{
	color: #dd0000;
}

@media screen and (max-width: 719px)
{
	body
	{
		padding-top: 40px;
	}
	
	nav
	{
		width: 100%;
		max-height: 615px;
		border-right: none;
		border-bottom: 1px solid #000000;
		padding: 20px;
	}
	
	nav.closed
	{
		max-height: 80px;
		width: 100%;
	}
	
	header
	{
		margin-bottom: 40px;
	}
	
	nav ul
	{
		text-align: right;
		margin-left: 0px;
		margin-right: 20px;
	}
	
	nav a
	{
		display: inline;
	}
	
	#menu-btn
	{
		top: 0;
		right: 0;
		left: auto;
		bottom: auto;
		height: 80px;
		width: 140px;
	}
	
	#menu-text
	{
	    line-height: 80px;
    	float: left;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
	
	#menu-stack
	{
		bottom: auto;
		left: auto;
		right: 40px;
		top: 28px;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	
	nav.closed #menu-stack 
	{
		-webkit-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
	
	#dark-mode-btn
	{
		margin: 40px 20px 0 0;
    	display: block;
    	float: right;
	}
	
	article, section
	{
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}

	#article-footer
	{
		width: 90%;
		padding: 0 20px;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}

	blockquote::before {
		color: #ccc;
		content: "❝";
		font-size: 4em;
		line-height: 0.5em;
		margin-right: 0;
		display: block;
	}
	blockquote p{
		padding-left: 0;
	}
	.podcast-player 
	{
		padding: 10px;
		border-radius: 20px;
		grid-template-columns: 100px auto;
		grid-template-rows: auto 40px;
		grid-gap: 10px;
		margin-top: 40px;
	}
	
	.podcast-player h2 
	{
    	font-size: 2rem;
	}
	
	.podcast-player img 
	{
    	grid-row-end: 2;
	}
	
	.podcast-player audio 
	{
		grid-row-start: 2;
    	grid-row-end: 3;
    	grid-column-start: 1;
    	grid-column-end: 3;
	}
	
	article h1 
	{
    	font-size: 3rem;
	}
	
	#hero-section
	{
		padding-top: 140px;
	}
	
	.indent-01, .indent-02
	{
		margin-left: auto;
		margin-right: auto;
		max-width: 400px;
		text-align: center;
		margin-top: 1rem;
	}

	h1.indent-01
	{
		font-size: calc(3rem + 1vw);
		line-height: 1.3;
	}
	
	.circle
	{
		margin: 20px auto;
		float: none;
	}
	
	#img-01 
	{
		width: 260px;
		max-width: 100%;
		position: absolute;
		z-index: -99;
		left: calc(50% - 130px);
		top: -60px;
		transform: translateZ(0px);
	}
	
	#arrow-down-01 
	{
		position: relative;
		left:45%;
		padding-top: 10px;
	}

	.post-section h3 
	{
		font-size: 1.5rem;
	}

	.image-grid-3
	{
		display: grid;
		grid-template-columns: repeat(4,1fr);
		grid-column-gap: 1rem;
		grid-row-gap: 0.8rem;
	}

	.grid-image
	{
		grid-column: span 2;
	}

	.grid-image:last-child:nth-child(2n - 1) {
		grid-column-end: 4;
	}
}
